$darkerGrey: #333333;
$darkGrey: #383838;
$midGrey: #505C63;
$lightGrey: #76848B;
$lighterGrey: #D3D3D3;
$orange: #e9903c;

& {
  background-image: none !important;
  background-color: $darkGrey !important;
  color: $lighterGrey !important;
  font-family:'Consolas','Inconsolata','Courier New',fixed-width !important;

  &.mob{
    /* Mobile styles */
    .monologue{
      background:$midGrey !important;
      &.mine{
        background: $darkerGrey !important;
      }
    }
    #input-area{
      background:$darkerGrey !important;
    }
    #sayit-button{
      background: $midGrey !important;
    }
    #gotomenu-main{
      background-color: $midGrey !important;
    }
    .button{
      background: $midGrey !important;
    }
    #menu-container .mobile-menu{
      background: $darkGrey;
      h2{
        background: $darkerGrey;
      }
    }
  }
}
.messages,
.message .meta {
  background-color: $midGrey !important;
  color: $lighterGrey !important;
  border:0 !important;
}
.mine .messages {
  background-color: $darkerGrey !important;
}
.message.pending,
.message.neworedit,
.message.posted{
  color:#E0E4CC !important;
}
.message.highlight{
  color:#333 !important;
  background-color:$orange !important;
}
.message .timestamp{
  background:none !important;
  background-color:#333 !important;
  color:$lighterGrey !important;
}
div.message:hover .action-link{
  background:$midGrey !important;
}
.reply-parent,
.reply-child {
  background-color: #3e3e3e !important;
  color: $lighterGrey !important;
}
#main #input-area {
  background-image: none !important;
  background-color: #222 !important;
}
#main #input-area #input {
  background-color: #222 !important;
  color: $lighterGrey !important;
}
#main #sidebar {
  background-image: none !important;
  background-color: transparent !important;
  color: $lighterGrey !important;
}
.onebox {
  background-color: $lightGrey !important;
  color: $lighterGrey !important;
}
.onebox.ob-image,
.onebox.ob-youtube{
  background-color: $midGrey !important;
}
.mine .onebox.ob-image,
.mine .onebox.ob-youtube{
  background-color: $darkerGrey !important;
}
.onebox img {
  background-color: #FFF !important;
}
.ob-post-tag,
.tag {
  background-color: #666666 !important;
  color: $lighterGrey !important;
  border-color: #333 !important;
}
.ob-tweet .ob-status-text {
  color: $lighterGrey !important;
}
a {
  color: #A7DBD8 !important;
}
a.signature {
  color: $lighterGrey !important;
}
#container .button {
  background-image: none !important;
  background: none !important;
  text-shadow: none;
  background-color: $darkGrey !important;
  color: $lighterGrey !important;
  border-color: $darkerGrey !important;
}
.mention {
  background-color: $orange !important;
  color: #333;
}
.msg-small,
.user-container .flair {
  color: $lighterGrey !important;
}
.user-container .signature .username.moderator {
  color: $orange !important;
}
.user-container .moderator:after {
  content: " ♦";
}
.deleted {
  color: $darkGrey !important;
}
#roomtitle {
  text-shadow: none !important;
}
.monologue.mine .message:hover .action-link {
  background-color: $orange;
}
#present-users,
ul#my-rooms,
div#starred-posts>div>ul>li{
  border-bottom: 1px dotted #666 !important;
}
.reputation-score,
#silence-note .system-message,
div.system-message-container div.system-message{
  color:$lighterGrey !important;
}
ul#my-rooms>li.activity-0{
  color: $orange !important;
}
ul#my-rooms>li.activity-1,
ul#my-rooms>li.activity-2,
ul#my-rooms>li.activity-3{
  color:$lighterGrey !important;
}
.vote-count-container.stars .img,
.vote-count-container.stars.user-star .img{
  background-image:url('http://tommedley.com/files/sprites.png') !important;
}
#container a.button{
  background-color:#444;
}
.sprite{
  background-image:url('http://tommedley.com/files/sprites.png') !important;
}
