// Sidebar Styles
//

#sidebar {
    // overflow: auto !important;

    font-size: 1em;
    height: 100%;
    width: 28%;
    padding: $spacing-medium !important;

    overflow: scroll !important;

    position: fixed;
    background: rgba($clr-sidebar, 0.9);
    // color: $clr-text;

    transition: all 0.3s;

    a {
        text-decoration: underline;
    }

    .button {
        display: block;
        width: 100%;
        padding: .5em 0;
        text-align: center;
        text-decoration: none;
    }

    /* room tags */
    .tag {
        font-size: .9em;
        display: inline;
    }

    ul {
        padding: 0;
        margin: 0 auto;
        width: 100%;

        & > li {
            background: rgba(#333, 0.15);
            margin-bottom: $spacing-small !important;
            padding: $spacing-small !important;
        }
    }

    .fr.msg-small {
        text-transform: uppercase;
        font-size: 1em;
        float: left;

        a {
            font-size: 1em;
        }
    }

    #info {
        padding: 0;
    }

    /* users widget */
    #present-users .user-container {
        width: 17% !important;
        padding: 4%;
    }

    .avatar img {
        width: 100% !important;
        height: auto;
    }

    ul#my-rooms .quickleave {
        position: absolute;
        right: 0;
        background: #E6BEBE;
        padding: $spacing-medium;
        line-height: 0.6rem;
        top: 5%;
    }

    /* starred comment widget */
    #starred-posts ul > li {
        padding-right: 3rem !important;
    }

    .vote-count-container.stars {
        position: absolute;
        right: 0;
        top: 0;

        .img {
            width: 2.5rem;
            height: 2.5rem;
            background-image: url('http://chatsey.s3-website-eu-west-1.amazonaws.com/remote/v1/img/icon-star.png');
            // background-color: #ddd;
            // color: #666;
            // text-shadow: 0 1px 0 rgba(255,255,255,0.5);
            background-size: 1.5rem;
            background-position: center center;
            float: right;
        }

        // Starred by a user
        &.user-star .img {
            background-color: $clr-star-highlight;
        }

        .times {
            position: absolute;
            right: -.5rem;
            bottom: -0.5rem;
            width: 1rem;
            border-radius: 2rem;
            padding: 0.2rem;
            text-align: center;
            background: #fff;
            color: #333;
        }
    }

    @media (orientation: portrait) {

        position: fixed !important;
        top: 0 !important;
        right: -35% !important;
        width: 40% !important;

        &:hover {
            right: 0 !important;
        }
    }

    @media (orientation: portrait) and (max-width: 670px) {
        width: 16rem !important;
        right: -16rem !important;
    }
}

#roomname {
    float: left;
    font-size: 1.25rem;
    line-height: 1.75rem;

    @media (orientation: portrait) {

        // &:before {
        //     content: '\25E8';
        //     position: relative;
        //     left: -0.7rem;
        //     font-size: 2rem;
        // }
    }
}

#toggle-favorite {
    float: right;
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    position: relative;
    right: .5rem;
}

.sidebar-widget {
    clear: both;
    overflow: hidden;
    padding: 0 !important;
    margin: $spacing-small 0 !important;
}
