#gotomenu-main {
  display: none; }

#bottom {
  display: none; }

#container {
  margin: 0px 1% 40px 1%; }

#roomdesc {
  margin-bottom: 1rem; }
  #roomdesc + table {
    margin: 1rem 0; }

#starred-posts ul {
  list-style-type: none; }
#starred-posts li {
  margin: 1rem 0; }

#input-area {
  top: initial;
  z-index: 100;
  position: fixed;
  bottom: 0; }
  #input-area #bubble #input {
    font-size: 20px;
    height: 25px;
    margin: 5px 0;
    padding: 2px 1%;
    border-radius: 5px;
    display: block;
    float: left;
    width: 78%;
    margin: 2px 0 5px 1%; }
  #input-area #bubble #cancel-editing,
  #input-area #bubble #sayit-button {
    background: #1da9da;
    color: #FFF;
    display: block;
    float: left;
    margin: 2px 1%;
    width: 17%;
    padding: 0;
    height: 29px;
    font-size: 14px;
    line-height: 29px;
    border-radius: 5px; }
  #input-area #bubble #cancel-editing {
    display: none; }

.monologue .message {
  float: none;
  clear: left;
  width: initial; }
  .monologue .message.overlaid {
    background: #d4d4d4;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #eee;
    padding: 3px 5px 5px 10px;
    margin: 0 -5px 3px -10px; }
  .monologue .message .flash {
    right: 15px; }
.monologue .overlay {
  height: 30px;
  width: 94%;
  padding: 5px 10px 8px 10px;
  display: none; }
  .monologue .overlay .touch-button {
    height: 30px;
    width: 30px;
    background-color: #ddd;
    float: left;
    cursor: pointer;
    /* mobile, but eh */
    border-radius: 20px;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #eee;
    text-align: center;
    line-height: 30px;
    font-size: 17px;
    color: #666;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    margin-right: 10px;
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat; }
    .monologue .overlay .touch-button .starred {
      color: #efb900; }
.monologue.mine .overlay {
  background: #C0E8F8;
  border-top: 1px solid #B5E2F5; }
  .monologue.mine .overlay .touch-button {
    background-color: #DDF5FF; }

#close-button {
  float: right;
  background: #E6BEBE;
  margin-right: 0; }

#flag-button {
  background-image: url("http://chatsey.s3-website-eu-west-1.amazonaws.com/remote/img/icon-flag.png"); }

#star-button {
  background-image: url("http://chatsey.s3-website-eu-west-1.amazonaws.com/remote/img/icon-star.png"); }

#reply-button {
  background-image: url("http://chatsey.s3-website-eu-west-1.amazonaws.com/remote/img/icon-reply.png"); }

#delete-button {
  background-image: url("http://chatsey.s3-website-eu-west-1.amazonaws.com/remote/img/icon-trash.png"); }

#edit-button {
  background-image: url("http://chatsey.s3-website-eu-west-1.amazonaws.com/remote/img/icon-edit.png"); }

.navLink,
.button {
  color: #FFF !important;
  background: #1da9da !important;
  border-radius: 5px !important;
  border: 1px solid #FFF !important;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 10px; }
  .navLink:hover, .navLink:visited,
  .button:hover,
  .button:visited {
    color: #FFF !important; }
  .navLink.mention,
  .button.mention {
    color: #FFF !important; }

#header .navLink {
  margin-top: 5px; }
  #header .navLink.youarehere {
    color: #B0EAFF !important; }

#header .navSep {
  display: none; }

#autocomplete {
  position: fixed;
  bottom: 50px;
  left: 0;
  background: #FFF;
  padding: 5px;
  font-size: 20px; }
  #autocomplete .option {
    background: #1da9da;
    padding: 5px 10px;
    color: #FFF;
    border-radius: 5px;
    float: left;
    margin-right: 5px; }

#slide-side {
  height: 100%;
  width: 300px;
  background: inherit;
  position: fixed;
  right: -300px;
  top: 0;
  box-sizing: border-box;
  border-left: 2px solid #1da9da;
  padding: 20px; }
  #slide-side.visible {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
  #slide-side #toggle_side {
    width: 50px;
    height: 80px;
    background: inherit;
    opacity: 0.5;
    color: #1da9da;
    position: absolute;
    left: -50px;
    top: 50%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top: 2px solid #1da9da;
    border-left: 2px solid #1da9da;
    border-bottom: 2px solid #1da9da;
    line-height: 80px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px; }
  #slide-side #slide_container {
    overflow: scroll;
    height: 100%;
    padding-bottom: 40px;
    box-sizing: border-box; }
    #slide-side #slide_container .mobile-menu {
      padding-bottom: 30px; }
    #slide-side #slide_container .button.gotomenu {
      display: none !important; }
    #slide-side #slide_container .menupager {
      width: 0;
      height: 0;
      overflow: hidden; }
    #slide-side #slide_container li.present-user {
      display: block !important;
      float: left; }
      #slide-side #slide_container li.present-user .avatar {
        margin-right: 0;
        height: 32px; }
      #slide-side #slide_container li.present-user .username {
        display: none; }
    #slide-side #slide_container #slide_links a {
      display: block;
      float: left;
      clear: both; }

#singlemenu-room {
  display: none;
  /* interferes with other menu otherwise */ }
  #singlemenu-room h2 {
    display: none; }
  #singlemenu-room h3 {
    margin-bottom: 20px;
    font-size: 24px; }
  #singlemenu-room #starred-posts h3 {
    margin-top: 20px;
    font-size: 16px; }
