$lightBlue: #1DA9DA;

#gotomenu-main{
  position: fixed;
  z-index:99999;
  top: 20px;
  left: 20px;
  border:1px solid #fff !important;
  border-radius: 10px !important;
  background-color: $lightBlue !important;
  padding: 10px 20px;
  font-size: 0;
  height: 60px;
  width: 60px;
  background-image: url('http://chatsey.s3-website-eu-west-1.amazonaws.com/remote/img/icon-menu.png') !important;
  background-size: 40px 40px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
#bottom{
  display: none;
}
#menu-container .mobile-menu{
  bottom: 60px;
  position: fixed;
  h2{
    height:22px;
    font-size:18px;
  }
}
#container{
  margin:0px 1% 40px 1%;
}
#roomdesc {
  margin-bottom: 1rem;

  & + table {
    margin: 1rem 0;
  }
}
#starred-posts {
  ul {
    list-style-type: none;
  }
  li {
    margin: 1rem 0;
  }
}
#input-area{
  top: initial;
  z-index: 100;
  position: fixed;
  bottom: 0;
  #bubble{
    #input {
      font-size:20px;
      height:25px;
      margin:5px 0;
      padding: 2px 1%;
      border-radius: 5px;
      display: block;
      float: left;
      width: 78%;
      margin: 2px 0 5px 1%;
    }
    #cancel-editing,
    #sayit-button{
      background: $lightBlue;
      color: #FFF;
      display: block;
      float: left;
      margin: 2px 1%;
      width: 17%;
      padding: 0;
      height: 29px;
      font-size: 14px;
      line-height: 29px;
      border-radius: 5px;
    }
    #cancel-editing{
      display:none;
    }
  }
}
.monologue {
  .message{
    float:none;
    clear:left;
    width:initial;
    &.overlaid{
    background:#d4d4d4;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #eee;
    padding:3px 5px 5px 10px;
    margin:0 -5px 3px -10px;
  }
}
  .overlay{
    height:30px;
    width:94%;
    padding:5px 10px 8px 10px;
    display: none;
    .touch-button{
      height:30px;
      width:30px;
      background-color: #ddd;
      float:left;
      cursor:pointer; /* mobile, but eh */
      border-radius: 20px;
      border-bottom: 1px solid #bbb;
      border-top: 1px solid #eee;
      text-align: center;
      line-height: 30px;
      font-size: 17px;
      color: #666;
      text-shadow: 0 1px 0 rgba(255,255,255,0.5);
      margin-right: 10px;
      background-size: 20px 20px;
      background-position: center center;
      background-repeat: no-repeat;
      .starred{
        color:rgb(239,185,0);
      }
    }
  }
  &.mine{
    .overlay{
      background: #C0E8F8;
      border-top:1px solid #B5E2F5;
      .touch-button{
        background-color:#DDF5FF;
      }
    }
  }
}
#close-button{
  float:right;
  background: #E6BEBE;
  margin-right: 0;
}
#flag-button{
  background-image: url('http://chatsey.s3-website-eu-west-1.amazonaws.com/remote/img/icon-flag.png');
}
#star-button{
  background-image: url('http://chatsey.s3-website-eu-west-1.amazonaws.com/remote/img/icon-star.png');
}
#reply-button{
  background-image: url('http://chatsey.s3-website-eu-west-1.amazonaws.com/remote/img/icon-reply.png');
}
#delete-button{
  background-image: url('http://chatsey.s3-website-eu-west-1.amazonaws.com/remote/img/icon-trash.png');
}
#edit-button{
  background-image: url('http://chatsey.s3-website-eu-west-1.amazonaws.com/remote/img/icon-edit.png');
}
.button{
  color: #FFF !important;
  background: $lightBlue !important;
  border-radius: 5px !important;
  border: 1px solid #FFF !important;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 10px;
  &:hover,
  &:visited{
    color: #FFF !important;
  }
  &.mention{
    color: #FFF !important;
  }
}
#autocomplete{
  position: fixed;
  bottom: 50px;
  left:0;
  background: #FFF;
  padding: 5px;
  font-size: 20px;
  .option{
    background: $lightBlue;
    padding: 5px 10px;
    color: #FFF;
    border-radius: 5px;
    float: left;
    margin-right: 5px;
  }
}
#slide-side{
  height: 100%;
  width: 300px;
  background: inherit;
  position: fixed;
  right: -300px;
  top: 0;
  box-sizing: border-box;
  border-left: 2px solid $lightBlue;
  padding:20px;
  &.visible{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
  }
  #toggle_side{
    width: 30px;
    height: 80px;
    background: #fff;
    color: $lightBlue;
    position: absolute;
    left: -30px;
    top: 50%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top: 2px solid $lightBlue;
    border-left: 2px solid $lightBlue;
    border-bottom: 2px solid $lightBlue;
    line-height: 80px;
    text-align: center;
    box-sizing: border-box;
  }
}
#singlemenu-room{
  display: block;
  h2{
    display: none;
  }
  h3{
    margin-bottom:20px;
    font-size: 24px;
  }
  #starred-posts{
    h3{
      margin-top:20px;
      font-size: 16px;
    }
  }
}
