$clr-text: #333;
$clr-text-light: #fff;

$clr-sidebar: #fff;
// $clr-link-sidebar: $clr-text-light;

$clr-star-highlight: #f3c201;

$clr-text-button: $clr-text;

$spacing-small: .5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;

html,
body {
    font-size: 16px !important;
    line-height: 1.25em;
}

#main {

    width: 95% !important;

    @media (orientation: landscape) {
        
        width: 67% !important;
    }
}

@import "scss/sidebar.scss";

.message .meta {
    -webkit-transform: scale(1.5) !important;
    transform: scale(1.5) !important;
    right: 2rem !important;
    bottom: 1rem !important;

}

div.message .newreply,
.vote-count-container.stars .img,
.vote-count-container.flags .img {
    display: inline-block;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    background-size: 1.5rem;
    background-position: center center;
    background-color: transparent;
}
div.message .newreply {
    background-image: url('http://chatsey.s3-website-eu-west-1.amazonaws.com/remote/img/icon-reply.png');
}
.vote-count-container.stars .img {
    background-image: url('http://chatsey.s3-website-eu-west-1.amazonaws.com/remote/img/icon-star.png');
}
.vote-count-container.flags .img {
    background-image: url('http://chatsey.s3-website-eu-west-1.amazonaws.com/remote/img/icon-flag.png');
}

// Burn with Fire
#sound,
#roomdesc,
#room-tags,
#room-title,
#room-ad,
#present-users,
#active-user,
#footer-logo,
#footer-legal,
.feed-icon {
    display: none !important;
}

// resize to ems
#sidebar-menu,
#my-rooms > li,
#starred-posts > div > ul > li,
.button,
.flash .stars {
    font-size: 1em !important;
}

#reply-count,
#flag-count, 
#modflag-count {
    font-size: 1.5em !important;
    width: 1.35em !important;
    height: 1.35em !important;
    line-height: 1.3em !important;
    border-radius: 1.35em !important;
    padding: 0 !important;
    left: -1rem;
    top: -1rem;

    @media (orientation: portrait) {
        top: -$spacing-medium !important;
        left: 0;
    }
}

#input-area {

    td:first-child {
        display: block;
        width: 0;
        padding: 0;
    }

    @media (orientation: landscape) {

        width: 28% !important;
        right: 0 !important; 
        left: auto !important;
        height: 8em !important;
        padding: 0 $spacing-medium !important;

    }
    
    @media (orientation: portrait) {

        height: 2.5rem !important;

        .chat-input {
            width: 64% !important;
            padding: $spacing-small 0 !important;
        }

        #chat-buttons {
            padding: ( $spacing-small / 2) !important;
        }
    }
}

#input {
    font-size: 1em !important;
    height: 1.25rem !important;
    width: 100% !important;

    @media (orientation: landscape) {
        font-size: 1em !important;
        height: 7.5em !important;
        width: 90% !important;
    }
}

#chat {

    padding-bottom: 4rem !important;

    @media (orientation: landscape) {
        
        padding-bottom: 0 !important;
    }
}

@media (orientation: landscape) {

    #sayit-button {
        margin-left: 0 !important;
    }

    body {
        font-size: 0.9em !important;
    }
}

.fl {
    display: block;
    width: 100%;
}

#chat-body #searchbox,
#transcript-body #searchbox {
  margin: .5em 0;
  float: none;
  width: 100%;
  font-size: 1.4em;
}


#present-users .more {
    background-color: transparent;
}

/* chat widgets */
ul#my-rooms>li {
  font-size: 1em;
}

// If the page is really a chat room, add more styles that people want

// body[data-isPageChatRoom="true"]
body[data-darkStyles="true"] {

    @import "scss/dark.scss";
}
